{% extends "base.html" %}

<!-- Session "Tab" Title  -->
{% block title %}
    Video Library
{% endblock %}

<!-- Page Title -->
{% block header %}
    Video Training
{% endblock %}

<!-- Collection of background icons and images -->
{% block content %}



<!-- <img src="{{ url_for('video_feed') }}" width="100%"/> -->
{% endblock %}


{% block references %}
<li><a href='https://stackoverflow.com/questions/4298084/html5-frame-by-frame-viewing-frame-seeking'>Extracting frames from video in html and javascript</a></li>
{% endblock %}
